@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* @font-face {
  font-family: "ZonaPro";
  src: url("/fonts/ZonaPro-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("/fonts/ZonaPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

body {
  font-family: "Inter", sans-serif;
}



@theme {
  /* Tailwind utilities you use directly */
  --color-primary: #E61C5D; 
  --font-volkhov: "Volkhov", serif;             /* text-primary, bg-primary */
  --color-secondary: #E61C5D1A;              /* text-primary, bg-primary */
  --color-grayish: #3C3C3C;              /* text-primary, bg-primary */
  --color-lightgrayish: #5E5E5E;              /* text-primary, bg-primary */
  --color-lightblue: #E8F1F1;              /* text-primary, bg-primary */

}
